<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<html ng-app="gitSearchApp">
<head>
<title>Github Public Repo Search</title>
<meta charset="utf-8" />
<head>
    <link rel="stylesheet" href="main.css">
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
    <script src="dist/gitSearchApp.js"></script>
    <script src="dist/gitAPI.js"></script>

</head>

</head>
<body>
    <div class="wrapper">
    <h1>Github Search</h1>
        <div ng-controller='SearchController'>
                            <div>
                                <input type="text" name="search-git" ng-model="term" on-enter="doSearch()" required>
                            </div>
                            <div ng-repeat="result in results">
                                    <p>{{result}}</p>
                            </div>
        </div>
    </div>
    
</body>
</html>