[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav md-list {
  padding: 0 0 8px 0;
}

/* Primary content area */

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
  margin-right: 20px;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

input {
  padding: 2px 5px;
  font-size: .8em;
}
input::placeholder {
  color: lightgrey;
}

h1 {
  margin-right: 20px!important;
}
h2 {
  display: inherit;
}
.material-icons.header__spyglass {
  padding: 2px 5px;

}
.md-button {
  min-height: 28px;
  min-width: 50px;
  line-height: 15px;
}

.style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow:  0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb
{
	background-color: #333;
	border: 2px solid #555555;
}


